
<div id="Gallery" class="carousel slide carousel-fade">
                <ul class="carousel-inner">
                    <li class="active item" data-slide-number="0">
                        <a href="http://sasscer.files.wordpress.com/2014/01/best-visiting-places-in-australia.jpg" target="_blank"><img src="http://sasscer.files.wordpress.com/2014/01/best-visiting-places-in-australia.jpg" class="img-responsive"></a>
                        <h3 class="carousel-caption">Lorem ipsum dolor sit amet</h3>
                    </li>
                    <li class="item" data-slide-number="1">
                      <a href="http://i277.photobucket.com/albums/kk70/jpultr/Reine2009009.jpg" target="_blank"><img src="http://i277.photobucket.com/albums/kk70/jpultr/Reine2009009.jpg" class="img-responsive"></a>
                      <h3 class="carousel-caption">Lorem ipsum dolor sit amet</h3>
                    </li>
                    <li class="item" data-slide-number="2">
                        <a href="http://www.touristmaker.com/images/new-south-wales/new-south-wales-is-one-of-the-best-places-for-surfing-in-the-world.jpg" target="_blank"><img src="http://www.touristmaker.com/images/new-south-wales/new-south-wales-is-one-of-the-best-places-for-surfing-in-the-world.jpg" class="img-responsive"></a>
                        <h3 class="carousel-caption">Lorem ipsum dolor sit amet</h3>
                    </li>
                    <li class="item" data-slide-number="3">
                        <a href="http://farm3.static.flickr.com/2055/1840556113_f60a37e932_b.jpg" target="_blank"><img src="http://farm3.static.flickr.com/2055/1840556113_f60a37e932_b.jpg" class="img-responsive"></a>
                        <h3 class="carousel-caption">Medellin ...</h3>
                    </li>
                    <li class="item" data-slide-number="4">
                        <a href="http://2.bp.blogspot.com/-TDcyEV9oJPk/T9gvgLqJSoI/AAAAAAAACxs/47efJ_dA5hw/s1600/perfect+honeymoon+destinations+(9).jpg" target="_blank"><img src="http://2.bp.blogspot.com/-TDcyEV9oJPk/T9gvgLqJSoI/AAAAAAAACxs/47efJ_dA5hw/s1600/perfect+honeymoon+destinations+(9).jpg" class="img-responsive"></a>
                        <h3 class="carousel-caption">Medellin ...</h3>
                    </li>

                </ul>
                <ul class="carousel-indicators">
                    <li data-target="#Gallery" data-slide-to="0" class="active"></li>
                    <li data-target="#Gallery" data-slide-to="1" class=""></li>
                    <li data-target="#Gallery" data-slide-to="2" class=""></li>
                    <li data-target="#Gallery" data-slide-to="3" class=""></li>
                    <li data-target="#Gallery" data-slide-to="4" class=""></li>
                  </ul>
                <h3 class="carousel-caption">Medellin ...</h3>
                <a id="infoLink" href="#">i</a>
            </div>
                    
            
            <div class="col-md-12 col-md-12" id="slider-thumbs">
                  <ul class="list-inline">
                  <li class="col-md-2"> <a id="carousel-selector-0" class="selected thumbnail">
                    <img src="http://sasscer.files.wordpress.com/2014/01/best-visiting-places-in-australia.jpg" class="img-responsive">
                  </a>
                  </li>
                  <li class="col-md-2"> <a id="carousel-selector-1" class="thumbnail">
                    <img src="http://i277.photobucket.com/albums/kk70/jpultr/Reine2009009.jpg" class="img-responsive">
                  </a></li>
                  <li class="col-md-2"> <a id="carousel-selector-2" class="thumbnail">
                    <img src="http://www.touristmaker.com/images/new-south-wales/new-south-wales-is-one-of-the-best-places-for-surfing-in-the-world.jpg" class="img-responsive">
                  </a></li>
                  <li class="col-md-2"> <a id="carousel-selector-3" class="thumbnail">
                    <img src="http://farm3.static.flickr.com/2055/1840556113_f60a37e932_b.jpg" class="img-responsive">
                  </a></li>
                  <li class="col-md-2"> <a id="carousel-selector-4" class="thumbnail">
                    <img src="http://2.bp.blogspot.com/-TDcyEV9oJPk/T9gvgLqJSoI/AAAAAAAACxs/47efJ_dA5hw/s1600/perfect+honeymoon+destinations+(9).jpg" class="img-responsive">
                  </a></li>

                    </ul>
            </div>